@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("loading.css");
@import url("filters.css");
@import url("esriwidgets.css");

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #ffffff;
    color: #f93822;
    font-family: "Avenir Next W00","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#app-container {
    height: 100%;
    width: 100%;
}

#app-container > div {
  height: 100%;
  width: 100%;
}

input, label {
    cursor: pointer;
    margin-bottom: 4px;
}

h1{
	font-family: Satisfy, cursive;
	font-weight:normal;
	font-size: 2em;
	padding: 25px;

}

.logo{
  background: rgba(0, 0, 0, 0.5);
  animation-name: slideFromLeft;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 2.0s;
}


@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.inline-block-display {
    display: inline-block;
}

.bottom-margin {
    margin-bottom: 8px;
}


#info {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 120px;
}

.list-group-item:first-child {
     border-top-left-radius: 0px;
     border-top-right-radius: 0px;
     border-radius: 0px;
}

.list-group-item:last-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-radius: 0px;
}

.list-group-item {
  background: rgba(0, 0, 0, 0.5);
  border: 0px;
  color: white;
}

.list-group-item .donor-info{
  background: rgba(0, 0, 0, 0.0);
  border: 0px;
  color: black;
}

.donor-info {
    background-color: white;
    color: black;
}

a.list-group-item, button.list-group-item {
    color: white;
}

.form-control{
  border-radius: 0px;
}

.btn{
  border-radius: 0px;
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #FFF;
    background-color: #f93822;
    opacity: 0.8;
}
